ul.nav
	li.active
		a(href="#info", role="tab", data-toggle="tab")
			span.glyphicon.glyphicon-info-sign.right20
			| Information
	li
		a(href="#zones", role="tab", data-toggle="tab")
			span.glyphicon.glyphicon-road.right20
			| Zones
	li
		a(href="#vars", role="tab", data-toggle="tab")
			span.glyphicon.glyphicon-stats.right20
			| Variables
	li
		a(href="#choices", role="tab", data-toggle="tab")
			span.glyphicon.glyphicon-comment.right20
			| Choices