ul.nav
	li.active
		span.left-menu-item(href="#info", role="tab", data-toggle="tab")
			span.glyphicon.glyphicon-info-sign.right20
			| Information
	li
		span.left-menu-item(href="#segments", role="tab", data-toggle="tab")
			span.glyphicon.glyphicon-th.right20
			| Segments
	li
		span.left-menu-item(href="#zones", role="tab", data-toggle="tab")
			span.glyphicon.glyphicon-road.right20
			| Zones
	li
		span.left-menu-item(href="#vars", role="tab", data-toggle="tab")
			span.glyphicon.glyphicon-stats.right20
			| Variables
	li
		span.left-menu-item(href="#choices", role="tab", data-toggle="tab")
			span.glyphicon.glyphicon-comment.right20
			| Choices