.modal.fade(id="" + modalId, tabindex="-1", role="dialog", aria-labeledby="createReportModalLabel", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true") &times;
					span.sr-only close
				h4.modal-title Create report
			.modal-body
				div#reports-list
					a.report-type.btn.btn-default(ng-click="setReportType('counter')") Counter
				div#report-configuration.hidden
					ul
						li
							| Counter variable name: 
							a(href="#" editable-text="newReport.counterVariable") {{ newReport.counterVariable || 'No name'}}
						li
							| Condition: 
							a(href="#" editable-text="newReport.condition") {{ newReport.condition || 'No condition'}}
					button.btn.btn-default(ng-click="addNewReport()", data-dismiss="modal") Add
			.modal-footer
				button.btn.btn-default(type="button", data-dismiss="modal") Cancel