doctype html
html(lang="en", ng-app="activityApp", ng-controller="GleanerCtrl")
        include header
    body
        include navbar
        .container
        include scripts
        script(src="/bower/d3/d3.min.js")
        script(src="/js/controllers/activity.js")