doctype html
html(lang="en", ng-app="dataApp", ng-controller="GleanerCtrl")
        include header
        link(rel="stylesheet", href="/bower/jquery-file-upload/css/jquery.fileupload.css")
        link(rel="stylesheet", href="/bower/jquery-file-upload/css/jquery.fileupload-ui.css")
        link(rel="stylesheet", href="/css/reports.css")
    body(ng-controller="GameCtrl")
        include navbar
        .row.bottom10
            .col-md-12
                a.left10.title(href="#", editable-text="selectedGame.title" onbeforesave="saveGame()") {{ selectedGame.title }}
        include data/actions
        .row
            .col-md-12
                .container-fluid(ng-show="selectedVersion === undefined")
                    .row
                        .col-xs-offset-4.col-xs-4
                            .top50.text-center.alert.alert-info
                                | You have no versions for this game. You can 
                                strong
                                    a(href="#" ng-click="addEmptyVersion()") create a new one
                .container-fluid(ng-show="selectedVersion")
                    .row
                        .col-xs-3.col-md-2.left-menu
                            include data/menu
                        .col-xs-9.col-md-10.tab-content
                                #info.tab-pane.active
                                    include data/information
                                #zones.tab-pane
                                    include data/zones
                                #vars.tab-pane
                                    include data/vars
                                #choices.tab-pane
                                    include data/choices
        include scripts
        script(src="/bower/jquery-file-upload/js/vendor/jquery.ui.widget.js")
        script(src="/bower/jquery-file-upload/js/jquery.iframe-transport.js")
        script(src="/bower/jquery-file-upload/js/jquery.fileupload.js")
        script(src="/bower/checklist-model/checklist-model.js")
        script(src="/bower/d3/d3.min.js")
        script(src="/js/reports/zonesgraph.js")
        script(src="/js/controllers/data.js")