head
	meta(charset="utf-8")
	title GLEANER
	link(rel="stylesheet", href="/bower/bootstrap/dist/css/bootstrap.css")
	link(rel="stylesheet", href="/bower/angular-xeditable/dist/css/xeditable.css")
	link(rel="stylesheet", href="/css/app.css")
