head
	meta(charset="utf-8")
	title GLEANER
	link(rel="stylesheet", href="/bower/bootstrap/dist/css/bootstrap.css")
	link(rel="stylesheet", href="/bower/angular-xeditable/dist/css/xeditable.css")
	link(rel="stylesheet", href="/bower/jquery-ui/themes/ui-lightness/jquery-ui.min.css")
	link(rel="stylesheet", href="/bower/jquery-file-upload/css/jquery.fileupload.css")
	link(rel="stylesheet", href="/bower/jquery-file-upload/css/jquery.fileupload-ui.css")
	link(rel="stylesheet", href="/bower/angular-gridster/dist/angular-gridster.min.css")
	link(rel="stylesheet", href="/css/reports.css")
	link(rel="stylesheet", href="/css/app.css")
