script(src="/bower/jquery/dist/jquery.min.js")
script(src="/bower/jquery-dateFormat/dist/jquery-dateFormat.min.js")
script(src="/bower/jquery-query/index.js")
script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower/underscore/index.js")
script(src="/bower/angular/angular.js")
script(src="/bower/angular-resource/angular-resource.js")
script(src="/bower/angular-xeditable/dist/js/xeditable.min.js")
script(src="/js/services.js")
script(src="/js/controllers/gleaner.js")
